<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /pasar_online/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(index\.php|js|img|css|captcha|robots\.txt)
	RewriteRule ^(.*)$ /pasar_online/index.php/$1 [L]
</IfModule>